{% extends "base.html" %}

{% block customhead %}        
{% endblock %}

{% block main %}
<div class="row">

	<div class="span8">
		<div class="content index-left">
			<h3>Newsfeed</h3>
		</div>
		<div class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>

	<div class="span4">
		<div class="content index-left">
			<h3>{{ user.username|truncate(24, killwords=True) }}</h3>
			<p>{{ user.email|truncate(30, killwords=True) }}</p>
			<p>Your API key<br>
				<input type="text" value="{{ user.apikey }}"></input>
			</p>
			<p>To add a book via curl try:</p>
			<pre>curl -XPUT {{ url_for('api_books_put', _external=True) }} -d 'key={{ user.apikey }}&isbn=0201657880'</pre>
		</div>
		<div class="content">
		</div>
	</div>
</div>
{% endblock %}