{% extends "base.html" %}
{% block customhead %}        
	<style type="text/css">
		.index-left {
			background-color:rgba(255,128,255,0.9);
		}
		.index-middle {
			background-color:rgba(255,255,128,0.9);
		}
		.index-right {
			background-color:rgba(128,255,255,0.9);
		}

	</style>
{% endblock %}


{% block main %}

<div class="row">
      <div class="span4">
		<div class="content index-left">
      		<h3>For Worms and Booklovers</h3>
      	</div>

      	<div class="content">
      		<p>Build your personal book collection. Share with friends. Discover what your
      			friends have read.
      		</p>
          <a class="btn" href="{{ url_for('signup') }}">Start collecting and sharing your books</a>
      	</div>
      </div>

      <div class="span4">
      	<div class="content index-middle">
      		<h3>For Classes</h3>
      	</div>
      	<div class="content">
      		<p>Share book collections for classes. Just add a class and invite your fellow students.</p>
          <a class="btn" href="{{ url_for('signup') }}">Create a class and add required readings</a>
      	</div>
      </div>

      <div class="span4">
      	<div class="content index-right">
      		<h3>For Small Libraries</h3>
      	</div>
      	<div class="content">
      		<p>Put your collections online and let others discover your treasures.</p>
          <a class="btn" href="{{ url_for('signup') }}">Take a tour</a>
      	</div>
      </div>

</div>

{% endblock %}