{% extends "base.html" %}

{% block customhead %}        
<script type="text/javascript">
	$(document).ready(function() {
		$("input#login").focus();
	});
</script>
{% endblock %}

{% block main %}
<div class="row">
	<div class="span12">
		<div class="content index-left">
			<h3>Login</h3>
		</div>
		<div class="content">
			<form class="form-vertical" method="POST" action="{{ url_for('login') }}">
				{{ form.csrf }}
				{{ form.login.label }}
				
				{% if form.login.errors %}
					{% for error in form.login.errors %}
						<span class="formfield-error">{{ error }}</span><br>
					{% endfor %}
					{{ form.login.error }}
				{% endif %}

				{{ form.login(size=20, autocapitalize="off") }}

				{{ form.password.label }}

				{% if form.password.errors %}
					{% for error in form.password.errors %}
						<span class="formfield-error">{{ error }}</span><br>
					{% endfor %}
					{{ form.password.error }}
				{% endif %}

				{{ form.password(size=20, autocapitalize="off") }}

				<br>
				<button type="submit" class="btn">Login</button>

				<br><br>
				<a href="#">Forgot your password?</a>
			</form>
		</div>
	</div>
</div>
{% endblock %}