{% extends "base.html" %}

{% block customhead %}        
<script type="text/javascript">
	$(document).ready(function() {
		$("input#email").focus();
	});
</script>
{% endblock %}

{% block main %}
<div class="row">
	<div class="span12">
		<div class="content index-left">
			<h3>Signup</h3>
		</div>
		<div class="content">
			<form class="form-vertical" method="POST" action="{{ url_for('signup') }}">
				{{ form.csrf }}

				{{ form.email.label }}
				{% if form.email.errors %}
					{% for error in form.email.errors %}
						<span class="formfield-error">{{ error }}</span><br>
					{% endfor %}
					{{ form.email.error }}
				{% endif %}
				{{ form.email(size=20, autocapitalize="off") }}

				{{ form.username.label }}
				{% if form.username.errors %}
					{% for error in form.username.errors %}
						<span class="formfield-error">{{ error }}</span><br>
					{% endfor %}
					{{ form.username.error }}
				{% endif %}
				{{ form.username(size=20, autocapitalize="off") }}

				{{ form.password.label }}
				{% if form.password.errors %}
					{% for error in form.password.errors %}
						<span class="formfield-error">{{ error }}</span><br>
					{% endfor %}
					{{ form.password.error }}
				{% endif %}
				{{ form.password(size=20, autocapitalize="off") }}

				<br>
				<button type="submit" class="btn">Create Account and Login</button>

			</form>
		</div>
	</div>
</div>
{% endblock %}